$grey_light: #E5E5E5;
$default:#FFFFFF;
$default-light:#f8efff;
$grey:#999999;
$grey-shade:#666666;
$secondary-prime: #bb370e;
$secondary-red: #ff6972;
$secondary-green: #b8ec64;
$secondary: #FF862F;
$secondary-light: #ffbd59;
$secondary-light-1: #fff5d1;
$black:#333333;
$primary:#A65CF0;
$primary-sec:#7033AC;
$primary-light:#c998fb;
$gold:#D5B986;
$grey_middle:#F7F7F7;
