@import "./default/normalize.scss";
@import "./swiper/swiper.min.scss";
@import "./swiper/swiper-custom.scss";
@import "./choices/choices.min.scss";
@import "./choices/choices-custom-setting.scss";
@import "./fonts.scss";
@import "./default/def.scss";
@import "./default/var.scss";

.header {
    &__line-1 {
        background-color: $grey_light;
    }

    &__burger {
        display: none;
    }

    &__container-1 {
        position: relative;
        align-items: center;
        padding: 12px 0;
        flex-wrap: wrap;
    }

    &__selector-city-wrapper {
        display: flex;
        align-items: center;
        margin-right: 33px;
    }

    &__name-selector {
        margin-right: 4px;
    }

    &__tel {
        display: flex;
        align-items: center;
        margin-right: 186px;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: $secondary;
    }

    &__info-item {
        color: $grey;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
    }

    &__info-item:not(:last-child) {
        margin-right: 64px;
    }

    &__info-list {
        @include resetMarginPadding();
        flex-wrap: wrap;
    }

    &__container-2 {
        position: relative;
        align-items: center;
        padding: 32px 0;
    }

    &__nav-list {
        @include resetMarginPadding();
        align-items: center;
        flex-wrap: wrap;
    }

    &__nav-item:not(:last-child) {
        margin-right: 92px;
    }

    &__logo {
        @include resetMarginPadding();
        margin-right: 141px;
    }

    &__container-3 {
        position: relative;
        padding-bottom: 32px;
    }

    &__input-search {
        width: 761px;
        padding: 18px 73px 18px 57px;
        line-height: 120%;
        border-radius: 10px 0px 0px 10px;
    }

    &__search-wrapper::after {
        content: "";
        position: absolute;
        background-image: url("../assets/images/search.svg");
        left: 34px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
    }

    &__input-button {
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__cart-wrapper,
    &__lk-button {
        align-self: center;
    }

    &__cart-wrapper {
        padding: 3px 3px 3px 15px;
    }

    &__counter {
        position: absolute;
        background-color: $secondary;
        border-radius: 50%;
        font-weight: 700;
        font-size: 10px;
        line-height: 100%;
        color: $default;
        padding: 2px 3px;
        left: 1px;
        top: 19%;
    }

    &__lk-button {
        margin-right: 25px;
    }
}

.main {
    padding-top: 31px;

    &__map {
        position: absolute;
        top: -43px;
        left:0;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: minmax(245px, auto);
        grid-auto-rows: minmax(96px, auto);
        column-gap: 32px;
        row-gap:10px;
        position: relative;
    }

    &__head {
        grid-column: span 6;
        cursor: pointer;
    }

    &__buy-info {
        grid-column: span 6;
        grid-row: span 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 37px;
    }

    &__head-btn {
        padding: 19px 35px;
    }

    &__title-item {
        @include resetMarginPadding();
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
        color: $black;
        margin-bottom: 5px;
    }

    &__sec-btn {
        padding-left: 30px;
    }

    &__descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: $grey;
        margin-bottom: 21px;
    }

    &__price {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: $black;
        margin-bottom: 21px;
    }

    &__head-btn {
        margin-bottom: 12px;
    }

    &__slider-head {
        grid-column: span 6;
        padding: 0 20px 0 20px;
    }

    &__sec-btn {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $primary;
    }

    &__about {
        grid-column: span 6;
        padding-top: 10px;
        padding-bottom: 225px;
        background-image: url("../assets/images/schema-divan-1920.webp");
        background-position: bottom 15px left 0px;
    }

    &__title-about {
        @include resetMarginPadding();
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: $black;
        margin-bottom: 8px;
    }

    &__about-text {
        @include resetMarginPadding();
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: $black;
    }

    &__about-text:not(:last-child) {
        margin-bottom: 8px;
    }

    &__character {
        grid-column: span 6;
    }
}

.character {
    @include resetMarginPadding();
    padding-bottom: 10px;
    &__item {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 14px;
        line-height: 173%;
        color: $grey;
        border-bottom: 1px dotted $grey;
        z-index: 1;
    }

    &__value {
        color: $black;
        width: 47%;
    }

    &__value,
    &__key {
        position: relative;
        top: 8px;
        background-color: $default;
        z-index: 2;
    }
}

.cart {
    &__swiper-slide {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__prev,
    &__next {
        display: none;
    }
}

.dop {
    padding-top: 70px;
    padding-bottom: 70px;
    &__container {
        position: relative;
    }

    &__title {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 24px;
    }

    &__img-wrapper {
        display: flex;
        align-items: flex-end;
        min-height: 130px;
    }

    &__cart {
        display: flex;
        position: relative;
        padding: 57px 30px 30px 30px;
        display: flex;
        height: 100%;
        flex-direction: column;
        background-color: $grey_middle;
        border-radius: 10px;
        min-height: 420px;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__raiting {
        position: absolute;
        top: 33px;
        left: 30px;
    }

    &__raiting-count {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $secondary;
    }

    &__category-wrapper {
        margin-bottom: 27px;
    }

    &__prev {
        position: absolute;
        top: 0;
        right: 50px;
    }

    &__next {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: $grey_light;

    &__title {
        margin-bottom: 9px;
    }

    &__container {
        padding-top: 24px;
        padding-bottom: 19px;
        display: flex;
        flex-wrap: wrap;
    }

    &__block-title {
        @include resetMarginPadding();
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: $black;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: $grey;
    }

    &__soc-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__soc-list {
        @include resetMarginPadding();
    }

    &__soc-item:not(:last-child) {
        margin-right: 20px;
    }

    &__part-logo {
        margin-right: 249px;
    }

    &__part-about {
        margin-right: 112px;
    }

    &__part-service {
        margin-right: 132px;
    }

    &__part-feedback {
        margin-right: 146px;
    }

    &__block-title {
        margin-bottom: 10px;
    }

    &__link:not(:last-child) {
        margin-bottom: 10px;
    }

    &__logo {
        margin-bottom: 29px;
    }

    &__right {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 6px;
        background-color: $grey_middle;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $grey;
    }

    &__part-feedback {
        margin-right: 146px;
    }
}

.open-cart {
    width: 1280px;
    padding: 50px 50px 21px 50px;
    background: $default;
    border-radius: 10px;
    display: flex;
    top:143px;
    flex-direction: column;
    align-items: center;

    &__head-img {
        img {
            height: 418px;
            max-width: 1064px;
            margin-bottom: 70px;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
    }

    &__logo {
        margin-bottom: 20px;
        svg {
            width: 172px;
            height: 117px;
        }
    }

    &__swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
    }

    &__prev {
        position: absolute;
        bottom: 170px;
        right: 80px;
    }

    &__next {
        position: absolute;
        bottom: 170px;
        right: 40px;
    }

    &__slide-img {
        max-width: 253px;
    }

    &__swiper-slide {
        cursor: pointer;
    }

    &__close {
        width: 20px;
        height: 20px;
    }
}

.thanks {
    display: flex;
    top: 181px;
    flex-direction: column;
    align-items: center;
    width: 624px;
    padding: 118px 75px 122px 75px;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: $black;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
    }

    &__logo {
        margin-bottom: 20px;
        svg {
            width: 172px;
            height: 117px;
        }
    }
}

.buy-form {
    padding: 30px;
    width: 624px;
    top:181px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
    }

    &__input-wrapper {
        width: 100%;
    }

    &__title {
        @include resetMarginPadding();
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        color: $black;
        margin-bottom: 8px;
    }

    .input-error {
        top: -22px;
    }

    &__descr {
        @include resetMarginPadding();
        max-width: 374px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $black;
        margin-bottom: 30px;
    }

    &__input {
        width: 100%;
        padding: 7px 18px;
        margin-bottom: 30px;
    }

    &__btn {
        padding: 19px 35px;
        margin-bottom: 12px;
    }

    &__checkbox {
        width: 0;
        height: 0;
    }

    &__checkbox-wrapper {
        position: relative;
        cursor: pointer;
    }

    &__check-text {
        padding-left: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $black;
    }

    &__check-text::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 2px;
        border: 1px $black solid;
        width: 13px;
        height: 13px;
    }

    &__checkbox:checked ~ &__check-text::before {
        border: $primary;
        background-color: $primary;
        background-image: url("../assets/images/check.svg");
        background-position: center center;
    }

    &__agreement {
        color: $primary;
        text-decoration: underline;
    }
}

@import "./ui/ui-def.scss";
@import './media/cart-media/media-1400.scss';
@import './media/cart-media/media-1000.scss';
@import './media/cart-media/media-700.scss';
@import './media/cart-media/media-470.scss';
