@media (max-width:1000px) {
    .container {
        max-width: 624px;
    }

    .header {
        &__container-2 {
            justify-content: center;
        }

        &__container-1 {
            padding-bottom: 16px;
        }

        &__info-item:not(:last-child) {
            margin-right: 35px;
        }
    
        &__nav-list {
            position: fixed;
            margin: 0;
            flex-direction: column;
            z-index: 1000;
            align-items: center;
            background-color: $default;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            padding: 200px 30px;
            transform:scaleX(0);
            transform-origin: left;
        }

        &__nav-item:not(:last-child) {
            margin-right: 0;
        }

        &__nav-item {
            margin-bottom: 30px;
            font-weight: 400;
            font-size: 25px;
            line-height: 100%;
        }

        &__logo {
            margin: 0;
        }

        &__lk-button {
            top: -67px
        }

        &__cart-wrapper {
            top: -68px
        }

        &__input-search {
            width: 436px;
        }
    }

    .main__content {
        width: 100%;
    }

    .main__benefits-list {
        width: 93%;
    }

    .burger {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 24px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1001;
    }

    .burger span {
        background-color: $primary;
        border-radius: 4px;
        width: 100%;
        height: 3px;
        transform: rotate(0deg) translateY(0);
        transition: transform 0.3s ease-in-out;
    }

    .footer {


        &__part-about {
            margin-right: 38px;
        }

        &__part-service {
            margin-right: 62px;
        }

        &__part-feedback {
            margin-right: 66px;
        }

    }

    .footer__part-logo {
        width: 100%;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
    }
}